@{
    ViewData["Title"] = "About Diabetes Assistant";
}
<h2>@ViewData["Title"]</h2>

<h3>Designed and Developed by:</h3>
<div>
    <p>
        <h5>Dr. Ferdaus Kawsar - Project Leader</h5>

        <h5>J.T. Blevins - Lead Developer</h5>

        <h5>Austin Bowman - Developer</h5>

        <h5>Nusrat Jahan Chowdhury - Developer</h5>

        <h5>Heather Harvey - Developer</h5>

        <h5>Tasha Ince - Developer</h5>

        <h5>Joshua Kirk - Developer</h5>

        <h5>Caleb Mann - Developer</h5>

        <h5>Phoenix Ragsdale - Developer</h5>
    </p>
</div>

<h3>What is Diabetes Assistant?</h3>
<p> Diabetes Assistant is a web application that can to be used to register new users and
    allow them to enter their personal information to be stored in the database.
    The data is then used by the mobile Android application to connect them with
    those who will be able to help them with their glucose needs. Your data will be
    kept confidential and will only be released to the doctors you choose. Your data
    will not be sold to a third party enitity for use in solicitation or marketing
    purposes.</p>


<h3>Frequently Asked Questions (FAQs)</h3>
<h4>Why do you need my information?</h4>
<p>Your information is kept confidential, and the developers of this website have taken 
    precautions so the information used conforms to HIPAA regulations. By using the website 
    along with the companion Android application, your health care provider will be able 
    to see the information you provide so that he or she will be able to provide the 
    best possible care based on your dietary and exercise history.
    .</p>
<h4>Who will see my personal information?</h4>
<p>No one will see your information without your explicit consent and an electronic
    signature of approval for the release of your information.</p>
